version: "3.9"

services:
  image-service:
    container_name: image-service
    build: .
    restart: unless-stopped

    expose:
      - "3000"

    environment:
      PORT: 3000
      OUTPUT_DIR: /data/images
      PUBLIC_BASE_URL: https://img-api.marcohuber-web.site/images
      TENANTS_JSON: ${TENANTS_JSON}

    volumes:
      - /srv/image-service/images:/data/images

    networks:
      - caddy

    labels:
      caddy: img-api.marcohuber-web.site
      caddy.reverse_proxy: "{{upstreams 3000}}"
      caddy.request_body: "max_size 30MB"

networks:
  caddy:
    external: true
