version: "3.9"

services:
  image-service:
    container_name: image-service
    build: .
    restart: unless-stopped

    ports:
      - "3010:3000"

    environment:
      PORT: 3000
      OUTPUT_DIR: /data/images
      PUBLIC_BASE_URL: ${PUBLIC_BASE_URL}
      ADMIN_TOKEN: ${ADMIN_TOKEN}

    volumes:
      - /var/www/vhosts/template2.marcohuber-web.site/httpdocs/images:/data/images

